.container {
  display: grid;
  align-items: center;
  justify-items: right;
  padding: 2em 4em 0 0;
  position: fixed;
  
  overflow: hidden;
  z-index: 1;
  width: 100%;

  .page_links {
    display: flex;

    .links {
      list-style: none;
      display: flex;
      gap: 4em;
      font-weight: lighter;

      .link:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
