.container {
  max-width: 42px;
  max-height: 28px;
  text-align: center;
  display: grid;
  justify-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;

  .sub_container {
    max-height: 30px;
    text-align: center;
    transform: scale(0.045);
    transform-origin: top center;

  }
}

::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}
::-webkit-scrollbar-track-piece {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #006eff;
  height: 1px;
}
