.container {
  max-width: 60px;
  max-height: 40px;
  text-align: center;
  display: grid;
  justify-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;

  .sub_container {
    max-height: 35px;
    text-align: center;
    transform: scale(0.055);
    transform-origin: top center;
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}
::-webkit-scrollbar-track-piece {
  background: black;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  height: 1px;
}
